.pictureAutomatyka {
  border: 0;
  padding: 0;
  margin: 0;
  height: 25rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center -3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media screen and (max-width: $phoneSize) {
    max-height: 10rem;
  }
}
.imgAutom {
  @include automatyka;
}
.imgInstEl {
  @include instEl;
}
.sterowanie{
  @include sterowanie;
}



.textOnBc {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.autoprzem {
  flex-wrap: wrap;
}
.spanBold {
  font-weight: 700;
}



.articleSub {
  max-width: 100%;
  // text-align: center;

  &__h2 {
    max-width: $mainContener;
    text-align: center;
    margin: 0 auto;
  }
  &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: $windowSize;
    margin: 0 auto;
    padding: 2rem 1rem 0 1rem;
    justify-content: center;
    @media screen and (max-width: $phoneSize) {
      flex-direction: column;
    }


  &--h {
    width: 100%;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem 1rem 0.5rem;
    border-bottom: solid 1.5px $blue;
    border-top: solid 0.5px $blue;
  }
  &--li {
    padding: 1rem 1rem 1rem 0;
    text-align: justify;
  }
  &--inSection {
    max-width: 45%;
    min-width: 18.75rem;
    overflow: hidden;
    padding: 0.5rem 1rem;
    text-align: justify;
    @media screen and (max-width: $phoneSize) {
      width: 100%;
      max-width: 100%;
      text-align: justify;
    }
  }
}
}

.inSection__img {
  max-width: 45%;
  overflow: hidden;
}
.section--img {
  min-width: 18.75rem;

  padding: 0.5rem 1rem;
  @media screen and (max-width: $phoneSize) {
    display: none;
  }
}
.galery {
  max-width: inherit;
  padding: 0 1rem;

  figure {
    margin-inline-start: 0;
    margin-inline-end: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;

    @media screen and (max-width: $phoneSize) {
      flex-direction: column;
      justify-content: space-around;

      width: 100%;
    }
  }
  &__Img {
    padding: 0.3rem 0.5rem;
    margin-bottom: 1rem;
    border: solid 1px $blue;
    max-height: 30vh;
    width: auto;
  }
}
// li class deleted disc style list
.widthOutDisc {
  list-style-type: none;
}
// style dla buttonow wyk jako submenu--> do zrobienia przewijanie..!!!!
.buton{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-evenly;
@media screen and (max-width: $phoneSize) {
  flex-direction: column;
  justify-content: center;
}
}
.subMenu{
height: 3rem;
padding: 0 2rem;
background-color: $lightblue;

  &-a{
    text-decoration: none;
    text-transform: uppercase;
    color: $bkgNavColor;
    font-weight: 700;

  }
}